body {
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}
#sudoku-container {
	display: grid;
	grid-template-columns: repeat(9, 40px);
	grid-template-rows: repeat(9, 40px);
	border: 3px solid black;
}
.sudoku-cell {
	width: 40px;
	height: 40px;
	text-align: center;
	font-size: 20px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
.border-right {
	border-right: 2px solid black;
}
.border-bottom {
	border-bottom: 2px solid black;
}

.controls {
	margin-top: 20px;
}
button {
	padding: 10px 20px;
	font-size: 16px;
	margin: 0 10px;
	cursor: pointer;
}
